<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="logging" type="CuttingEdge.Logging.LoggingSection, CuttingEdge.Logging" />
  </configSections>
  <logging defaultProvider="UnitTestingLoggingProvider">
    <providers>
      <add
				name="UnitTestingLoggingProvider"
				type="CuttingEdge.Logging.Tests.Common.UnitTestingLoggingProvider, CuttingEdge.Logging.Tests.Common"
        />      
      <add
        name="Debug" 
        type="CuttingEdge.Logging.MemoryLoggingProvider, CuttingEdge.Logging"
        threshold="Debug"
        />
      <add
        name="Information"
        type="CuttingEdge.Logging.MemoryLoggingProvider, CuttingEdge.Logging"
        threshold="Information"
        />
      <add
        name="Warning"
        type="CuttingEdge.Logging.MemoryLoggingProvider, CuttingEdge.Logging"
        threshold="Warning"
        />
      <add
        name="Error"
        type="CuttingEdge.Logging.MemoryLoggingProvider, CuttingEdge.Logging"
        threshold="Error"
        />
      <add
        name="Critical"
        type="CuttingEdge.Logging.MemoryLoggingProvider, CuttingEdge.Logging"
        threshold="Critical"
        />
    </providers>
  </logging>
</configuration>