<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="logging" type="CuttingEdge.Logging.LoggingSection, CuttingEdge.Logging" allowDefinition="MachineToApplication" />
	</configSections>
	<logging defaultProvider="UnitTestingLoggingProvider">
		<providers>
			<add
				name="UnitTestingLoggingProvider"
				type="CuttingEdge.Logging.UnitTests.Helpers.UnitTestingLoggingProvider, CuttingEdge.Logging.UnitTests"
				threshold="Debug"
				fallbackProvider="StubLoggingProvider"
				description="Logging provider for unit tests"
                />
			<add
				name="StubLoggingProvider"
				type="CuttingEdge.Logging.UnitTests.Helpers.StubLoggingProvider, CuttingEdge.Logging.UnitTests"
				threshold="Debug"
				description="A stub unit test"
				/>
		</providers>
	</logging>
</configuration>