<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="LoggingTestDatabase" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringTemplate" connectionString="server=.;Initial Catalog={0};Integrated Security=True" />
  </connectionStrings>
</configuration>