<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="logging" type="CuttingEdge.Logging.LoggingSection, CuttingEdge.Logging" allowDefinition="MachineToApplication" />
	</configSections>
  <connectionStrings>
    <add name="myConnection" connectionString="not important" />
  </connectionStrings>
	<logging defaultProvider="UnitTestingLoggingProvider">
		<providers>
			<add
				name="UnitTestingLoggingProvider"
				type="CuttingEdge.Logging.Tests.Unit.Helpers.UnitTestingLoggingProvider, CuttingEdge.Logging.Tests.Unit"
				threshold="Debug"
				fallbackProvider="FallbackProvider"
				description="Logging provider for unit tests"
                />
			<add
				name="FallbackProvider"
				type="CuttingEdge.Logging.MemoryLoggingProvider, CuttingEdge.Logging"
				threshold="Debug"
				description="The configured fallback provider."
				/>
		</providers>
	</logging>
  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="smtpserver1" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>